.movie-detail {
    display: flex; /* Align image and text side by side */
    align-items: flex-start; /* Align items at the top */
    background-color: #2b2b31; /* Dark background */
    color: #d4af37; /* Gold text */
    padding: 20px;
    border: 2px solid #b85c5c; /* Red border */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow */
    gap: 20px;
    margin-top: 60px;
  
    img {
      width: 400px; /* Fixed width for the image */
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7); /* Add shadow around the image */
    }
  
    .movie-info {
      flex: 1; /* Allow text to take the remaining space */
      font-family: "Georgia", serif; /* Vintage font */
      font-size: 1rem;
      line-height: 1.6;
  
      span {
        font-weight: bold;
        color: #b85c5c; /* Red for labels */
      }
  
      p {
        margin-bottom: 20px;
      }
    }
  
    .actions {
      margin-top: 20px;
      display: flex;
      gap: 15px;
  
      
    }
  }

img {
    width: 50%;
}
